{% load static %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static 'irrigate/css/base.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'irrigate/css/dashboard.css' %}">
	</head>

	<body>
		<div class="l-content run-table">
			<h1>Recent sprinkler runs</h1>


			{% if runs %}
			<table class="pure-table pure-table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>Time</th>
						<th>Duration</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					{% for run in runs %}
					<tr>
						<td>{{ run.actuator.name }}</td>
						<td>{{ run.start_datetime }}</td>
						<td>{{ run.duration_in_minutes }}</td>
						<td>{{ run.status }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="pure-u-1-1"><p>No runs available</div>
			{% endif %}
		</div>
	</body>
</html>
